{% extends 'proteome/base.html' %}

{% block content %}
<label>Download Complete Result</label>
<a href="{% url 'proteome:download_file' job_id %}"><button class="btn btn-lg btn-danger">Download</button></a>
<div>

<div style="height: 70%;width: 80%">

{% autoescape off %}
{{ pcafig_before_plot }}
{% endautoescape %}

</div>

<div style="height: 70%;width: 80%">

{% autoescape off %}
{{ pcafig_after_plot }}
{% endautoescape %}

</div>
</div>


<div>


{% if box_before_plot %}
<div style="height: 70%;width: 80%">
<h4>Before Batch correction</h4>
{% autoescape off %}
{{ box_before_plot }}
{% endautoescape %}

</div>

<h4>After Batch correction</h4>
<div style="height: 70%;width: 80%">
{% autoescape off %}
{{ box_after_plot }}
{% endautoescape %}
</div>
</div>
{% endif %}
{% endblock %}
