{% extends 'proteome/base.html' %}

{% block content %}

<style type="text/css">
  .download{
    margin-left: 5%;
    text-decoration: none;
    opacity:0.7;
  }
   .download:hover{
    opacity:1;
  }

</style>


<div class="container mt-3">


<div class="row">

      <div class="col col-xl-6">
      <div>

{% if pca_before %}
<img src="data:image/svg+xml;base64, {{ pca_before|safe }}">

<a class="download" href="data:image/svg+xml;base64, {{ pca_before|safe }}" download>
dowlonad(SVG)
</a>
{% endif %}

      </div>
      </div>
    <div class="col col-xl-6">
    <div>

{% if pca_after %}
<img src="data:image/svg+xml;base64, {{ pca_after|safe }}">

<a class="download" href="data:image/svg+xml;base64, {{ pca_after|safe }}" download>
dowlonad(SVG)
</a>
{% endif %}
    </div>
    </div>

</div>
</div>


<div class="container mt-3">


<div class="row">

      <div class="col col-xl-6">
      <div>

{% if before_norm_box %}
<img src="data:image/svg+xml;base64, {{ before_norm_box|safe }}">

<a class="download" href="data:image/svg+xml;base64, {{ before_norm_box|safe }}" download>
dowlonad(SVG)
</a>
{% endif %}

      </div>
      </div>
    <div class="col col-xl-6">
    <div>

{% if after_norm_box %}
<img src="data:image/svg+xml;base64, {{ after_norm_box|safe }}">

<a class="download" href="data:image/svg+xml;base64, {{ after_norm_box|safe }}" download>
dowlonad(SVG)
</a>
{% endif %}
    </div>
    </div>

</div>
</div>



<div>
  <div class="m-5">
<label>Download Normalized Data</label>
<a href="{% url 'proteome:download_file' job_id %}"><button class="btn btn-primary">Download</button></a>
</div>
</div>

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col col-xl-6">

<form action="{% url 'proteome:pvalues' %}" method="POST" class="m-5">

    {% csrf_token %}

<input type="hidden"  id="job_id" name="job_id" value="{{ job_id }}">

<label>Chose method for P value Calculation</label>
<div class="form-group row">
 <div class="form-check">
  <input class="form-check-input" type="radio" name="pvalue" value="ttest" checked>
  <label class="form-check-label" for="ttest">
    T-Test
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="pvalue" value="anova">
  <label class="form-check-label" for="anova">
    One-way ANOVA
    </label>
</div>
</div>
<label> P-Value Cut-off</label>
<div class="form-group">
   <input class="form-control" type="text" value=0.05>
  </div>

<input type="submit" name="submit">
</form>
</div>
</div>
</div>
{% endblock %}
