{% extends 'lncrna/base.html' %}

{% block content %}


<style type="text/css">
 a{
color: black;
text-decoration: none;
}
</style>


<div class="cotainer mt-1" >
<div class="row d-flex justify-content-left">
  <div class="col col-xl-1">
  </div>


<div class="col col-xl-6 pt-4">
{% if has_ncbi %}
<h5 class="h5">NCBI Gene symbol:&ensp;<a target="_blank" href="https://www.ncbi.nlm.nih.gov/gene/?term={{ dis_lncraname }}">{{ dis_lncraname }}
</a>
</h5>
{% else %}
<h5 class="h5" style="padding-left: 20px" >Ensembl ID:&ensp; <a target="_blank" href="https://asia.ensembl.org/Multi/Search/Results?q={{ dis_lncraname }}">{{ dis_lncraname }}
</a>
{% endif %}
</div>
</div>
</div>


<div class="cotainer mt-1">
<div class="row d-flex justify-content-center">

<div class="col col-xl-10">
<table class = "table" style="background-color: white;">
    <thead class="thead-dark">
     <tr>
    <th class="align-top">lncRNA name in article</th>
    <th class="align-top">Virus & Strain Name</th>
    <th class="align-top">Dosage & Time point</th>
    <th class="align-top">Cell line</th>
    <th class="align-top">Experiment Type</th>
    <th class="align-top">Foldchange</th>
    <th class="align-top">Expression</th>
    <th class="align-top">PubMed ID</th>

    </tr>

    {% for vrs in lncra %}
  <tr>
      <td>{{ vrs.lncrna_name }}</td>
      <td>{{ vrs.stimuli }}</td>
      <td>{{ vrs.dosage }};
        <br>
      {{ vrs.time_point }}</td>
      <td>{{ vrs.cell_line }}</td>
      <td>{{ vrs.experiment_type }}</td>
      <td>{{ vrs.foldchange }}</td>
      <td>{{ vrs.expression }}</td>
      <td> <a href="https://pubmed.ncbi.nlm.nih.gov/{{ vrs.pubmed_id }}" target="_blank"> {{ vrs.pubmed_id }} </a></td>

  </tr>
{% endfor %}
</table>
</div>
</div>
</div>

<div class="mt-1">
  <div class="row">
    <div class=""></div>

    <div class="col xl-10" style="margin-left: 8%;">
      <div class="d-flex justify-content-left">
  <p class=" text-muted">* MOI :Multiplicity of infection , TCID :Tissue Culture Infectious Dose</p>
    </div>

    </div>
  </div>


</div>


{% endblock %}
